al-icon {
	// inline-flex breaks certain (duotone) icons
	--fa-display: inline-flex;
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	position: relative;

	&[hidden] {
		display: none !important;
	}

	// Fix Fontawesome duotone icons
	&[icon-style="duotone"] {
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&[size="2"] {
		font-size: 2em;
	}

	&[size="3"] {
		font-size: 3em;
	}

	&[size="4"] {
		font-size: 4em;
	}
}

al-icon-stack {
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	al-icon {
		grid-area: 1 / 1;
	}
}