al-icon {
	// inline-flex breaks certain (duotone) icons
	//--fa-display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	text-align: center;

	&[hidden] {
		display: none !important;
	}
}