al-icon {
	// inline-flex breaks certain (duotone) icons
	--fa-display: inline-flex;
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	text-align: center;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&[hidden] {
		display: none !important;
	}
}