al-image {
	position: relative;
	display: inline-block;
	overflow: hidden;

	.placeholder {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transform: scale(1.03);
		filter: blur(8px);
		z-index: -1;
		transition: 0.1s transform;
	}

	.final {
		height: auto;
		width: auto;
		opacity: 0;
		transition: 0.1s opacity, 0.1s transform;
		transform: scale(1.03)
	}
}